<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774378873136-r8egm8f0mabao9euio0f99s9aj1t55lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774378873136-r8egm8f0mabao9euio0f99s9aj1t55lv</string>
	<key>API_KEY</key>
	<string>AIzaSyC4vNVQDdJQp6LiiQn1RV4jzsZwTTeL8rI</string>
	<key>GCM_SENDER_ID</key>
	<string>774378873136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fundooNotes</string>
	<key>PROJECT_ID</key>
	<string>fundoo-notes-app-ecf23</string>
	<key>STORAGE_BUCKET</key>
	<string>fundoo-notes-app-ecf23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774378873136:ios:31ffc0a5151b1475e268f5</string>
</dict>
</plist>